/config/emacs.d/.python-environments
/config/emacs.d/auto-save-list
/config/emacs.d/bbdb
/config/emacs.d/bbdb-vcard
/config/emacs.d/completer.hist
/config/emacs.d/config.el
/config/emacs.d/config.elc
/config/emacs.d/elpa
/config/emacs.d/etc/anaconda-mode
/config/emacs.d/etc/url
/config/emacs.d/helm-doc.org
/config/emacs.d/history
/config/emacs.d/lisp/nothing-to-see-here.el
/config/emacs.d/lisp/paradox-vars.el
/config/emacs.d/lisp/pianobar-vars.el
/config/emacs.d/lisp/sensitive-vars.el
/config/emacs.d/places
/config/emacs.d/request
/config/emacs.d/speed-type
/config/emacs.d/srecode-map.el
/config/emacs.d/temp-counsel-functions.el
/config/emacs.d/tramp
/config/emacs.d/var/ac-comphist.el
/config/emacs.d/var/auto-save*
/config/emacs.d/var/backup
/config/emacs.d/var/bbdb
/config/emacs.d/var/bookmark-default.el
/config/emacs.d/var/desktop/.emacs.desktop
/config/emacs.d/var/desktop/.emacs.desktop.lock
/config/emacs.d/var/elfeed
/config/emacs.d/var/emojify
/config/emacs.d/var/eshell/history
/config/emacs.d/var/eshell/lastdir
/config/emacs.d/var/gamegrid-user-score
/config/emacs.d/var/projectile
/config/emacs.d/var/recentf-save.el
/config/emacs.d/var/save-place.el
/config/emacs.d/var/savehist.el
/config/emacs.d/var/smex-save.el
/config/emacs.d/var/sx-cache
/config/emacs.d/var/trash
/config/emacs.d/var/url
/config/emacs.d/var/xkcd
/config/gnus.el
/config/mutt/cache
/config/mutt/certificates
/config/emacs.d/init.elc
