[submodule "config/emacs.d/lisp/--force"]
	path = config/emacs.d/lisp/--force
	url = https://github.com/therockmandolinist/matlab-emacs
[submodule "config/emacs.d/lisp/matlab-emacs"]
	path = config/emacs.d/lisp/matlab-emacs
	url = https://github.com/therockmandolinist/matlab-emacs
