*~
\#*\#
*.elc
/emacs/.emacs.d/init.el
/emacs/.emacs.d/var/
/emacs/.emacs.d/straight/
/neovim/.config/nvim/plugged/
/polybar/.config/polybar/blocks/*
!/polybar/.config/polybar/blocks/*.c
!/polybar/.config/polybar/blocks/*.scm
!/polybar/.config/polybar/blocks/Makefile
/bin/bin/git-prompt
/polybar/.config/polybar/darkskyrc
/freedesktop/.local/share/applications/wine*
/freedesktop/.local/share/applications/*.cache
/neovim/.config/nvim/.netrwhist
/cmus/.config/cmus/*
!/cmus/.config/cmus/darktooth.theme
