*~
\#*\#
emacs.d/var/
!emacs.d/var/abbrev.el
!emacs.d/var/elfeed/rmh-elfeed.org
!emacs.d/var/eshell/alias
emacs.d/.python-environments
emacs.d/config.el
emacs.d/config.elc
emacs.d/elpa
emacs.d/etc/
emacs.d/init.elc
emacs.d/lisp/there-is-trouble-with-the-trees.el
emacs.d/quelpa/
emacs.d/srecode-map.el
emacs.d/tramp
vim/.netrwhist
vim/bundle/
