[submodule "config/emacs.d/lisp/matlab-emacs"]
	path = config/emacs.d/lisp/matlab-emacs
	url = https://github.com/therockmandolinist/matlab-emacs
[submodule "config/emacs.d/lisp/Gnugol"]
	path = config/emacs.d/lisp/Gnugol
	url = https://github.com/dtaht/Gnugol
