/* -*- mode: css -*- */
configuration {
	modi: "window,run,ssh,drun,combi";
	fixed-num-lines: false;
	combi-modi: "window,drun,run";
	dpi: 210;
    width: 700;
	theme: "dropdown";
    display-run: "";
}
