# -*- mode: sh -*-

set keymap vi-insert
"(": "\C-v(\C-v)\e[D"
"\"": "\C-v\"\C-v\"\e[D"
set editing-mode vi
set show-mode-in-prompt on
set colored-completion-prefix on
set blink-matching-paren on
set menu-complete-display-prefix on
set keyseq-timeout 1
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2
